div.my-style {
    color: red;
    width: 50%;
    height: 50px;
    overflow: auto;
    margin: 35px auto;
    padding: 20px !important;
    text-align: center;
    border: solid 4px blue;
    border-radius: 20px;
    box-shadow: 5px 20px 10px purple;
}

div.my-style:hover{
    background-color: yellow;
}

#test{
    font-size: larger;
}
